<div ng-repeat="post in posts | orderBy:'-date'">
<div class="panel">
<div class="panel-heading"><h3 class="panel-title">{{post.title}}</h3>
<h6>Posted on {{post.date | date:'short'}}</h6></div>
<p ng-bind-html-unsafe="post.body | noHTML | newlines"></p>
<div class="panel-footer">
<a href = "/blog/{{post.date | date:'yyyy/M/d'}}/{{post.title | despace}}/edit">Edit</a>
<a href = "/blog/{{post.date | date:'yyyy/M/d'}}/{{post.title | despace}}/delete">Delete</a>
</div>
</div>
</div>
<div class="navbar">
<a class="navbar-brand" href="/blog/add">Add Post</a>
<button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
</div>